.header {
    grid-area: h;
    background-color: rgb(247, 233, 241);
 
 }

  .header img {
   width: 70px;
   background-color: inherit;
   opacity: 0.5;
   
}

.loginBlock {
   float: right
   
}

.loginBlock a {
   color: pink
}
 